.container {
    height: calc(100vh - 50px) ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper {
    width: 20%;
    padding: 30px;
}

.title {
    text-align: center;

}