.container {
    background-color: blue;
    width: 10%;
    min-height: calc(100vh - 50px);
}

.item {
    color: black;
    text-align: center;
    padding-top: 10px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: red
}