.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.paper {
    margin-top: 30px;
    height: 100px;
    display: flex;
    padding: 10px;
    background-color: rgba(191,126,122,0.75);
    border-radius: 30px;

}

@media screen and (max-width: 700px){
    .photo {
        width: 80px;
        margin-right: 0 !important;

    }
    .form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .paper {
        height: 200px;
    }
    .btn {
        margin-top: 10px;
    }
    .field {
        margin: 0 !important;
    }

}

.form {
    display: flex;
}

.photo {
    margin-right: 20px;
}

.field {
    margin-right: 20px;
}

.btn {
    display: flex;
    align-items: center;
}