.container {
    background-color: rgba(182, 91, 238, 0.89);
    width: 10%;
    min-height: calc(100vh - 50px);

}

.item {
    color: black;
    text-align: center;
    padding-top: 10px;
}

.item a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.item a:hover {
    color: red
}

.active {
    color: gold !important;
    font-weight: bold;
}

@media screen and (max-width: 650px) {
    .item a {
        font-size: 15px;
    }

    .container {
        width: 20%;
    }
}