.container {
    width: 30%;
    background-color: rgba(191,126,122,0.75);
    display: flex;
    justify-content: center;
    padding-top: 20px;

}

.paper {
    width: 200px;
    border-radius: 20px;
}

.photo {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

@media screen and (max-width: 1055px){
    .paper{
        width: 150px;
    }
}
@media screen and (max-width: 800px){
    .paper{
        width: 100px;
        margin: 0 auto;
    }
    .name{
        font-size: 30px !important;
    }
    .status{
        font-size: 15px !important;
    }
}

@media screen and (max-width: 630px){
    .status{
        padding-left: 10px;
        padding-right: 10px;
    }
    .paper {
        width: 70px;
    }
}






.description {
   display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    text-shadow: 1px -3px 1px rgba(222, 238, 228, 0.89);
}

.status {
    font-size: 20px;
    margin-top: 10px;
}